body {
    padding: 20px;
    font: 1em Helvetica Neue, Helvetica, Arial, sans-serif;
}

p {
    margin: 0 0 1em 0;
}

.container {
    width: 500px;
    border: 5px solid rgb(111, 41, 97);
    border-radius: .5em;
    padding: 10px;
}

.item {
    width: 100px;
    height: 100px;
    background-color: rgba(111, 41, 97, .3);
    position:static;
    /* position:relative;
    bottom: 50px;
    left: 20px; */
    /* position: absolute;
    top: 20px;
    left: 20px */
    /* position: fixed;
    top: 0px;
    left: 0px; */
}